@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('./normalize.css');

/* LOGIN */
@import url('./styles/login.css');
@import url('./styles/signup.css');

/* NAVBAR */
@import url('./styles/navbar.css');

/* BANNER */
@import url('./styles/banner.css');

/* PAGES */
@import url('./styles/products.css');
@import url('./styles/about-us.css');
@import url('./styles/how-it-work.css');
@import url('./styles/contact.css');
@import url('./styles/footer.css');

.scroll--container {
  scroll-behavior: smooth;
}

.main--page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fab {
  line-height: 2.5 !important;
}